{% trans_default_domain 'FOSUserBundle' %}
{% extends "base.html.twig" %}

{% block body %}
    <div class="fos_user_user_show">
        <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
        <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
        <a href="/profile/edit" class="btn btn-default">Edytuj dane</a>
        <div style="margin-top:10px; margin-bottom: 10px;">
            <a href="/profile/change-password" class="btn btn-default">Zmień hasło</a>
        </div>
        <div style="margin-top: 10px">
            <p>Stan portfela: {{ user.points }}</p>
            <a href="/basket" class="btn btn-default">Koszyk użytkownika</a>
        </div>
    </div>
{% endblock %}