{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-8">
                <h3 style="margin-bottom:30px;">Lista Kursów: </h3>

                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Price</th>
                        <th>Likes</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for course in courses %}
                        <tr>
                            <td>{{ course.title }}</td>
                            <td>{{ course.description }}</td>
                            <td>{{ course.price }}</td>

                            <td>
                                <span>{{ course.likes }}</span>
                                <a href="/course/like" class="likeLink" data-id="{{course.id}}">
                                    <img src="/Assets/images/heart.png" alt="polub" height="25" width="25">
                                </a>
                            </td>
                            <td> 
                                   {%if course.addedByLoggedUser == 'true'%}
                                        <a class="btn btn-info disabled" href="#">Zakupiony</a>
                                   {%endif%}
                                   {%if course.addedByLoggedUser == 'false'%}
                                        <a class="btn btn-default" href="addToBasket/{{ course.id }}">Dodaj do koszyka</a>
                                   {%endif%}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-md-2">
            </div>
        </div>
    </div>

{% endblock %}

{%block javascripts %}
    <script src="{{asset("bundles/app/js/likes.js")}}"></script>
{%endblock%}