{%extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

    {{ form_start(form) }}
    <div>
        {{ form_label(form.username) }}
        {{ form_widget(form.username) }}
    </div>
    <div>
        {{ form_label(form.points) }}
        {{ form_widget(form.points) }}
    </div>
    <div>
        {{ form_label(form.courses) }}
        {{ form_widget(form.courses) }}
    </div>
    <div>
        {{ form_widget(form.Edytuj) }}
    </div>
    {{ form_end(form) }}
{% endblock %}

