{% extends "::base.html.twig" %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/stylesheet.css') }}">
{% endblock %}

{% block title %}AppBundle:Admin:showAdminPanel{% endblock %}

{% block body %}

    {% if is_granted("ROLE_SUPER_ADMIN") %}
        <div class="container">
            <div class="row">
                <div class="col-md-10">
                </div>
                <div class="col-md-2 title">
                    <a href="/superadmin" class="btn btn-primary">Zarządzaj administratorami</a>
                </div>
            </div>
        </div>
    {% endif %}
    <div class="course-movies">

        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#carousel">Slider</a></li>
            <li><a data-toggle="tab" href="#course">Kursy</a></li>
            <li><a data-toggle="tab" href="#movie">Filmy</a></li>
            <li><a data-toggle="tab" href="#user">Użytkownicy</a></li>

        </ul>

        <div class="table tab-content menu">
            <div id="carousel" class="tab-pane fade in active menu">
                {{ render(controller(
                'AppBundle:Admin:showAdminCarousel'
                )) }}
            </div>
            <div id="course" class="tab-pane fade">
                {{ render(controller(
                'AppBundle:Admin:showAdminCourse'
                )) }}
            </div>
            <div id="movie" class="tab-pane fade">
                {{ render(controller(
                'AppBundle:Admin:showAdminMovie'
                )) }}
            </div>
            <div id="user" class="tab-pane fade">
                {{ render(controller(
                'AppBundle:Admin:showAdminUser'
                )) }}
            </div>
        </div>
    </div>
{% endblock %}
