{% block body %}
    <table class="table table-bordered table-hover text-center">
        <tr>
            <th>
                Użytkownik
            </th>
            <th>
                Kursy
            </th>
            <th>
                Opcje
            </th>
            {%for basket in baskets %}
            <tr>
                <td>
                    {%for user in users%}
                        {{dump(user.id)}}
                        {{dump(basket.user.id)}}
                        {{dump(basket.user.username)}}
                        {%if basket.user.id == user.id%}
                            {{basket.user.username}} <br>
                        {%endif%}
                    {%endfor%}
                </td>
                <td>
                    {%if basket.courses is not null%}
                        {%for course in basket.courses%}
                            {{course.title}} <br>
                        {%endfor%}
                    {%endif%}
                </td>
                <td>
                    <a class="btn btn-primary" href="/admin/basket/edit/{{basket.id}}/">Edytuj</a>
                    <a class="btn btn-danger" href="/admin/basket/delete/{{basket.id}}/">Usuń</a>
                </td>
            </tr>
        {%endfor%}
    </table>
{% endblock %}