{% extends 'base.html.twig' %}

{% block body %}
    <h1>Kurs: {{courseTitle}}</h1>
    {% for movie in movies %}
    <hr>
    <table>
        <thead>
            <tr>
                <th>Tytuł</th>
                <th>Opis</th>
                <th>Rating</th>
            </tr>
        </thead>
        <tbody>
        
            <tr>
                <td><a href="courseMovies" class="videoLink" data-id="{{movie.id}}">{{ movie.title }}</td>
                <td>{{ movie.description }}</td>
                <td>
                    {% for x in 0..4 %}
                        {% if movie.avgRating|round(2, 'floor') - x >= 1 %}
                            <i class="fa fa-star gold"></i>
                        {% elseif movie.avgRating - x > 0 %}
                            <i class="fa fa-star-half-o gold"></i>
                        {% else %}
                            <i class="fa fa-star-o"></i>
                        {% endif %}
                    {% endfor %} 
                    ({{movie.ratingCount}} ocen)
                </td>
            </tr>
        
        </tbody>
    </table>
    <hr>
    {% endfor %}
    <div id="videoDiv">
        <video width="320" height="240" controls>
            <source id="video" src="" type="video/mp4"/>
        </video>
    </div>
{% endblock %}

{%block javascripts %}
    <script src="{{asset("bundles/app/js/showMovies.js")}}"></script>
{%endblock%}